<form [ngClass]="{'loading': loading}" [formGroup]="loginForm" (ngSubmit)="onSubmit()" method="post">
  <span *ngIf="error && error.length > 0">{{error}}</span>
  <div class="inputWrapper">
    <input placeholder="Email" type="email" formControlName="email" [attr.disabled]="disabled ? '' : null" required/>
  </div>
  <div class="inputWrapper">
    <input placeholder="Heslo" type="password" formControlName="password" [attr.disabled]="disabled ? '' : null" required/>
  </div>
  <button [attr.disabled]="disabled ? '' : null">Přihlásit se</button>
</form>
