<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" method="post">
  <span class="error">{{error ? error : ''}}</span>
  <control-input [formGroup]="loginForm" formControlName="email" type="email" validation="email" placeholder="Email" [disable]="disabled" [required]="true" ngDefaultControl></control-input>
  <control-input [formGroup]="loginForm" formControlName="password" type="password" placeholder="Heslo" [disable]="disabled" [required]="true" ngDefaultControl></control-input>
  <control-button [formGroup]="loginForm" type="submit" text="Přihlásit se" [disable]="disabled" ngDefaultControl></control-button>
</form>
