<form [ngClass]="{'loading': loading}" [formGroup]="registerForm" (ngSubmit)="onSubmit()" method="post">
  <span *ngIf="error.length > 0">{{error}}</span>
  <div class="inputWrapper">
    <input placeholder="Jméno" type="text" formControlName="name" [attr.disabled]="disabled ? '' : null" required>
  </div>
  <div class="inputWrapper">
    <input placeholder="Příjmení" type="text" formControlName="surname" [attr.disabled]="disabled ? '' : null" required>
  </div>
  <div class="inputWrapper">
    <input placeholder="ID studenta" type="text" formControlName="student" [attr.disabled]="disabled ? '' : null" required>
  </div>
  <div class="inputWrapper">
    <input placeholder="Telefon" type="tel" formControlName="phone" [attr.disabled]="disabled ? '' : null" required/>
  </div>
  <div class="inputWrapper">
    <input placeholder="Email" type="email" formControlName="email" [attr.disabled]="disabled ? '' : null" required/>
  </div>
  <div class="inputWrapper">
    <input placeholder="Heslo" type="password" formControlName="password" [attr.disabled]="disabled ? '' : null" required/>
  </div>
  <div class="inputWrapper">
    <input placeholder="Heslo znovu" type="password" formControlName="passwordRepeat" [attr.disabled]="disabled ? '' : null" required/>
  </div>
  <button type="submit" [attr.disabled]="disabled ? '' : null">Registrovat se</button>
</form>
