<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" method="post">
  <span class="error">{{error ? error : ''}}</span>
  <control-input [formGroup]="registerForm" formControlName="name" placeholder="Jméno" [disable]="disabled" [required]="true" ngDefaultControl></control-input>
  <control-input [formGroup]="registerForm" formControlName="surname" placeholder="Příjmení" [disable]="disabled" [required]="true" ngDefaultControl></control-input>
  <control-input [formGroup]="registerForm" formControlName="student" placeholder="ID studenta" validation="number" [disable]="disabled" [required]="true" ngDefaultControl></control-input>
  <control-input [formGroup]="registerForm" formControlName="phone" type="tel" placeholder="Telefon" validation="phone" [disable]="disabled" [required]="true" ngDefaultControl></control-input>
  <control-input [formGroup]="registerForm" formControlName="email" type="email" placeholder="Email" validation="email" [disable]="disabled" [required]="true" ngDefaultControl></control-input>
  <control-input [formGroup]="registerForm" formControlName="password" type="password" placeholder="Heslo" [disable]="disabled" [required]="true" ngDefaultControl></control-input>
  <control-input [formGroup]="registerForm" formControlName="passwordRepeat" type="password" placeholder="Heslo znovu" [disable]="disabled" [required]="true" ngDefaultControl></control-input>
  <control-button [formGroup]="registerForm" type="submit" text="Registrovat se" ngDefaultControl></control-button>
</form>
