@import '../../colors.scss';

.credentialsBox {
  overflow: hidden;

  .loginSwitch {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: block;
      width: 50%;
      padding: 15px;
      text-align: center;
      text-decoration: none;
      transition: all .3s ease;

      &:nth-of-type(1) {
        border-top-left-radius: 3px;
      }

      &:nth-of-type(2) {
        border-top-right-radius: 3px;
      }

      &:hover {
        background: #eee;
      }

      &.active {
        background: none;
        pointer-events: none;
        color: $color-dark;
        border-bottom: solid 2px $color-white;
      }

      &:not(.active) {
        background: #eee;
        border-bottom: solid 2px $color-dark;
      }
    }
  }

  .credentialsWrapper {
    width: 200%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &.register {
      app-register {
        transform: translateX(-100%);
      }

      app-login {
        opacity: 0;
      }
    }

    &.login {
      app-register {
        transform: translateX(0);
      }

      app-login {
        opacity: 1;
      }
    }

    app-login, app-register {
      width: 100%;
      transition: all ease-out .3s;
      padding: 29px 30px 60px;
    }
  }
}
