<div [ngClass]='["credentialsBox", credentialsType]'>
  <div class="loginSwitch">
    <a [routerLink]="" (click)="switchType('login')" [ngClass]="{'active': credentialsType == 'login'}">Login</a>
    <a [routerLink]="" (click)="switchType('register')" [ngClass]="{'active': credentialsType == 'register'}">Registrace</a>
  </div>
  <div class="credentialsWrapper" [ngClass]="credentialsType">
    <app-login [disabled]="credentialsType != 'login'"></app-login>
    <app-register [disabled]="credentialsType != 'register'"></app-register>
  </div>
</div>
