<div class="user">
  <div class="userWrapper">
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit('update')" method="post">
      <span [ngClass]='message.update.Success ? "success" : "error"'>{{message.update.Message ? message.update.Message : message.update.Success ? 'Údaje úspěšně aktualizovány' : ''}}</span>
      <control-input [formGroup]="updateForm" formControlName="name" placeholder="Jméno" [required]="true" ngDefaultControl></control-input>
      <control-input [formGroup]="updateForm" formControlName="surname" placeholder="Příjmení" [required]="true" ngDefaultControl></control-input>
      <control-input [formGroup]="updateForm" formControlName="student" validation="number" placeholder="ID studenta" [required]="true" ngDefaultControl></control-input>
      <control-input [formGroup]="updateForm" formControlName="phone" type="tel" validation="phone" placeholder="Telefon" [required]="true" ngDefaultControl></control-input>
      <control-input [formGroup]="updateForm" formControlName="email" type="email" validation="phone" placeholder="Telefon" [required]="true" ngDefaultControl></control-input>
      <control-button [formGroup]="updateForm" type="submit" text="Aktualizovat údaje" ngDefaultControl></control-button>
    </form>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit('password')" method="post">
      <span [ngClass]='message.password.Success ? "success" : "error"'>{{message.password.Message ? message.password.Message : message.password.Success ? 'Heslo změněno' : ''}}</span>
      <control-input [formGroup]="updateForm" formControlName="password" type="password" placeholder="Nové heslo" [required]="true" ngDefaultControl></control-input>
      <control-input [formGroup]="updateForm" formControlName="passwordRepeat" type="password" placeholder="Nové heslo znovu" [required]="true" ngDefaultControl></control-input>
      <control-button [formGroup]="updateForm" type="submit" text="Změnit heslo" ngDefaultControl></control-button>
    </form>
    <control-button text="Smazat účet" (click)="deleteUser()" ngDefaultControl></control-button>
  </div>
</div>
