@import '../../colors.scss';

.user {
  padding: 29px 30px 60px;

  form {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: solid 1px $color-dark;

    .error, .success {
      text-align: center;
      height: 21px;
      display: block;
      margin-bottom: 15px;
    }

    .error {
      color: $color-red;
    }

    .success {
      color: $color-green;
    }

    control-input {
      margin-bottom: 20px;
    }

    control-input, control-button {
      display: block;
    }
  }
}
