<div *ngFor="let type of loadTypes">
  <div class="searchBox" [ngClass]="type" [class.expanded]="type == this.currentType" (click)="setCurrentType(type)">
    <div class="title">
      <h3>{{titles[type]}}{{getSelected[type] != null ? ' - ' + (getSelected[type].Code ? getSelected[type].Code : getSelected[type].Name) : ''}}</h3>
    </div>
    <div class="inputBox">
      <input #inp type="text" placeholder="{{placeholders[type]}}" (keyup)="search(type, inp.value)">
      <div class="results" [ngSwitch]="type" *ngFor="let d of dataLists[type]">
        <list-katedra *ngSwitchCase="loadTypes[0]" (click)="listSelect(type, d)" [data]="d"></list-katedra>
        <list-druhStudia *ngSwitchCase="loadTypes[1]" (click)="listSelect(type, d)" [data]="d"></list-druhStudia>
        <list-obor *ngSwitchCase="loadTypes[2]" (click)="listSelect(type, d)" [data]="d"></list-obor>
        <list-predmet *ngSwitchCase="loadTypes[3]" (click)="listSelect(type, d)" [data]="d"></list-predmet>
      </div>
    </div>
  </div>
</div>
<button [disabled]="!complete">Hotovo</button>
